@{
    ViewBag.Title = "About";
}

@Styles.Render("~/Content/fontawesome")
<h2 class="abouts-logan">Expensing made easy.</h2>

<div class="row" id="about">
    <div class="col-md-4 ease">
        <span style="font-size: 8rem; color: #008dba;">
            <i class="fa fa-fast-forward" aria-hidden="true"></i>
        </span>
            <h2>Ease Expensing</h2>
            <p>
                A powerful expense reporting tool, ExpenseTrak allows for employees to allocate expenses to reports.
                Enabling for a smooth process when it comes to validating expenses for business-related purchasesand reimbursement of those expenses.
            </p>
    </div>
    <div class="col-md-4 anywhere">
        <span style="font-size: 8rem; color: #008dba;">
            <i class="fa fa-check-square-o" aria-hidden="true"></i>
        </span>
            <h2>Expense Anywhere</h2>
            <p> With ExpenseTrak employees can creat and add to a report from anywhere.</p>
    </div>
    <div class="col-md-4 rocket">
        <span style="font-size: 8rem; color: #008dba;">
            <i class="fa fa-rocket" aria-hidden="true"></i>
        </span>
            <h2>Record Keeping</h2>
            <p>ExpenseTrak allows of a running ledger of both reports and expenses. </p>
    </div>
</div>